<div class="login-wrapper">
  <div class="is-hidden-mobile hero-banner">
    <section class="hero is-fullheight is-dark">
      <div class="hero-body">
        <div class="container section">
          <div class="has-text-right">
            <h1 class="title is-1">
              Power Food
            </h1>
            <br>
            <p class="title is-3">
              Ai Employee Benefits
            </p>
            <div class="is-offset-2">
              <a (click)="login('facebook')" class="button is-info is-inverted is-outlined is-large">Sign In With Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>